.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.modal{
  display: none;
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
  position: relative;
  background-color: black;
  padding: 20px;
  margin: auto;
  margin-top: 27vh;
  width: 20%;
  animation-name: animateTop;
  animation-duration: 0.4s;
}

@keyframes animateTop {
  from{
      top: -300px;
      opacity: 0;
  }

  to{
      top: 0;
      opacity: 1;
  }
}

.close-btn{
  float: right;
  color: lightgray;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 1%
}

.close-btn:hover{
  color: darkgray;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.profile-img{
  width: 25%;
  border-radius: 50%;
  flex-shrink: 0;
}

.group-list{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.group-card{
  height: 100px;
  background: #3d4350;
  flex: 1 1 calc(50% - 4px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 5%;
}

.group-card a:active, .group-card a:visited, .group-card a:link{
  color: white;
  text-decoration: none;
}

.group-list:last-child{
  display: block;
}

.message {
  display: flex;
  align-items: center;
}

.message p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

.hidden-page{
  visibility: hidden;
  max-height: 0;
}

.messages-space{
  min-width: 70vw;
  min-height: 80vh;
}

.user-card:hover{
  background-color: #3d4350;
  cursor: pointer;
}

.profile-pic{
  width: 8%;
  height: 8%;
  border-radius: 50%;
  margin: 2px 5px;
}

.message-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.auth-btns button{
  border-radius: 10%;
  height: 5vh;
  background: transparent;
  width: 15%;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  margin: 0 6%;
}

.auth-input{
  display: block;
  margin: auto;
  background-color: transparent;
  border-radius: 5%;
  color: white;
  margin-top: 5%;
  padding: 3%;
}

.form-btn{
  border-radius: 10%;
  height: 4vh;
  width: 25%;
  background: transparent;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  margin: 0 6%;
}

.google{
  width: 40%
}

.sign-out{
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  right: 0%;
}

.list-items{
  list-style: none;
}

.list-items a:visited, .list-items a:active, .list-items a:link, .list-items a:hover{
  color: white;
  text-decoration: none;
}

.list-items a{
  display: flex;
  align-items: center;
  gap: 5%;
  margin-left: 11%;
  margin-bottom: 2%;
}

.caution{
  font-size: 24px;
}

.add-new-group{
  display: block; 
  margin: auto;
  background-color: transparent;
  border-radius: 5%;
  color: white;
  margin-top: 5%;
  padding: 3%;
}